
<h1>New ticket</h1>

<!-- <script type="text/javascript">
      tinyMCE.init({
        selector: 'textarea.editor'
        forced_root_block: false
      });
    </script> -->

<%= render 'form' %>

<%= link_to 'Back', tickets_path %>